body {
  font-family: Arial, sans-serif;
  background-color: #F3E8DF;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 40px;
  font-size: 28px;
} 

.light {
  color: #452829;
  font-weight: bold;
}

p {
  max-width: 600px;
  margin: 20px auto;
  color: #9F5255;
  line-height: 1.6;
}

strong {
  color: #850E35;
}

.img {
  margin: 20px 0;
}

.button {
  padding: 10px 25px;
  background-color: #0056b3;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.button:hover {
  background-color:#63C8FF;
  transform: scale(1.1);  
}
